<html>
    <head>
        <title>Prime Number</title>
    </head>
        <body>
            <center>
            <form action="" method = 'POST'>
                {% csrf_token %}
                Enter a Number: <input type="text" name = "num"> <br><br>
                <input type="Submit" value="Click">
                <style>
                    body{
                        background-color: black;
                        color: greenyellow;
                        background-image: unset;
                        
                    }
                </style>
            </form>
            <p>{{value}}</p>
            </center>


        </body>
</html>