{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <a href="{% url 'home' %}">Back</a>
            <form action="" method="POST">
                {% csrf_token %}
                <img src="{% static 'images/AC.jpeg' %}" alt="images"><br><br>
                Price: <input value="24,499" name = 'Air Condition'> <br><br>
                <input type="Submit" value = Buy>
                <input type="button">
            </form>
    </div>
    <div>
        <a href="{% url 'home' %}"></a><br><br>
            <form action="" method="POST">
                {% csrf_token %}
                <img src="{% static 'images/Fridge.jpeg' %}" alt="images"><br><br>
                Price: <input value="27,499" name = 'Fridge'> <br><br>
                <input type="Submit" value = Buy>

                
            </form>
    </div>
    <style>
        body{
        ;
        }

    </style>

{% endblock %}