{% extends 'base.html' %}

{% block main %}

    <center>
        <a href="{% url 'toys' %}">toys</a><br><br>
        <a href="{% url 'furnitures' %}">furnitures</a><br><br>
        <a href="{% url 'mobiles' %}">mobiles</a><br><br>
        <a href="{% url 'fashion' %}">fashion</a><br><br>
        <a href="{% url 'electronics' %}">electronics</a><br><br>
        <a href="{% url 'personalcare' %}">personalcare</a><br><br>
        <a href="{% url 'grocery' %}">grocery</a><br><br>
    </center>

{% endblock %}