<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    <body style="background-color: aquamarine; font-style: italic; font-display: 
                inherit;">
            <div class="background-image"></div>
        <center>
            <form action="" method="POST">
                {% csrf_token %}
            Username : <input type="text" name = 'uname'> <br><br>
            Password : <input type="Password" name = 'pwd'> <br><br>
            <input type="Submit" value = 'Login'> <br>
            <a href="Signup">SignUp</a>
            </form>
        </center>

        <style>
            *{
                margin: 0;
                padding: 0;
            }
            .background-image{
                background-image: url(https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                /* width: 200px; */
                height: 100vh;
            }
        </style>
    </body>
</html>